.fieldCategA { 
    width: 100%;
    padding: 6px 20px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .readOnlyField { 
    width: 100%;
    padding: 6px 20px;
    margin: 1px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    text-align: center;
    background-color: #e3f0f0;
  }

.navbar-custom {
    background-color: #0e62925e;
}