  .total {
    background-color: #6fa2d3;
    color: rgb(230, 230, 230);
    justify-content: center;
    display: flex;
  }

  .variableIncTotal {
    background-color: #6fa2d3;
    color: rgb(230, 230, 230);
    justify-content: center;
    display: flex;
  }
  
  .percentageIncTotal {
    background-color: #6fa2d3;
    color: rgb(230, 230, 230);
    justify-content: center;
    display: flex;
  }

  .title {
    color: rgb(228, 225, 225);
    justify-content: center;
    display: flex;
    font-size: calc(30px + 2vmin);
  }

  .spinner {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
  }